* {
  box-sizing: border-box;
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: Rubik;
  src: url(Rubik-Regular.ttf);
}
:root {
  --primary: #black;
  --titles: #3655b3;
  --visited-link: #a6bcff;
  --text: #a6bcff;
  --links: #4d4dff;
  font-size: 18px;
}
body {
  background-color: white;
}
header {
  top: 0;
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
nav {
  height: 75px;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: solid 1px #a6bcff;
}
#nav-list-mobile {
  visibility: hidden;
  display: none;
}
#nav-list-web {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  align-items: center;
}
.list-item {
  font-size: 26px;
  padding: 0px 20px;
}
.nav-link {
  text-decoration: none;
  color: var(--links);
}
.nav-link:hover {
  color: white;
  background-color: blueviolet;
  padding: 20px;
}

.nav-link:visited {
  color: var(--visited-link);
}
#logo {
  justify-content: flex-start;
}
main {
  margin-top: 75px;
  position: relative;
}

h1 {
  position: relative;
  top: 0px;
  color: var(--titles);
  width: 100%;
  display: block;
  text-align: center;
}
#main-box {
  display: block;
  position: relative;
}
#circle-main {
  display: block;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  /*background-color: var(--text);*/
  margin: 0 auto;
  position: relative;
  animation: rotation 5s;
  animation-iteration-count: 3;
}
#center-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
}
#section-circle1 {
  border-radius: 50%;
  width: 500px;
  height: 500px;

  margin: 0 auto;
  position: absolute;
  background: radial-gradient(
      closest-side,
      var(--text) 39%,
      transparent 40% 100%
    ),
    conic-gradient(
      pink 72deg,

      transparent 144deg,
      transparent 216deg,
      transparent 288deg,
      transparent 360deg
    );
  animation: rotation 5s;
  animation-iteration-count: 3;
}
#section-circle2 {
  border-radius: 50%;
  width: 500px;
  height: 500px;

  margin: 0 auto;
  position: absolute;
  background: radial-gradient(
      closest-side,
      var(--text) 39%,
      transparent 40% 100%
    ),
    conic-gradient(
      transparent 72deg,
      yellow 72deg 144deg,
      transparent 144deg,
      transparent 216deg,
      transparent 288deg,
      transparent 360deg
    );
  animation: rotation 5s;
  animation-iteration-count: 3;
}
#section-circle3 {
  border-radius: 50%;
  width: 500px;
  height: 500px;

  margin: 0 auto;
  position: absolute;
  background: radial-gradient(
      closest-side,
      var(--text) 39%,
      transparent 40% 100%
    ),
    conic-gradient(
      transparent 72deg,
      transparent 144deg,
      red 144deg 216deg,
      transparent 288deg,
      transparent 360deg
    );
  animation: rotation 5s;
  animation-iteration-count: 3;
}
#section-circle4 {
  border-radius: 50%;
  width: 500px;
  height: 500px;

  margin: 0 auto;
  position: absolute;
  background: radial-gradient(
      closest-side,
      var(--text) 39%,
      transparent 40% 100%
    ),
    conic-gradient(
      transparent 72deg,
      transparent 144deg,
      transparent 216deg,
      blue 216deg 288deg,
      transparent 360deg
    );
  animation: rotation 5s;
  animation-iteration-count: 3;
}
#section-circle5 {
  border-radius: 50%;
  width: 500px;
  height: 500px;

  margin: 0 auto;
  position: absolute;
  background: radial-gradient(
      closest-side,
      var(--text) 39%,
      transparent 40% 100%
    ),
    conic-gradient(
      transparent 72deg,
      transparent 144deg,
      transparent 216deg,
      transparent 288deg,
      black 288deg 360grad
    );
  animation: rotation;
  animation-iteration-count: 3;
}

#section-circle1a {
  border-radius: 50%;
  width: 500px;
  height: 500px;

  margin: 0 auto;
  position: relative;
  background: radial-gradient(
      closest-side,
      var(--text) 39%,
      transparent 40% 100%
    ),
    conic-gradient(
      transparent 72deg,
      gray 72deg 144deg,
      transparent 144deg,
      transparent 216deg,
      transparent 288deg,
      magenta 288deg 360grad
    );
}
#other-figures {
  display: block;
}
#circulo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: blue;
  position: relative;
}
#triangulo {
  width: 0px;
  height: 0px;
  position: relative;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 150px solid green;
  background: conic-gradient(
    red 0 120deg,
    brown 120deg 240deg,
    green 240deg 360deg
  );
  margin: 0 auto;
}
#div-form {
  width: 100%;
}
#form {
  margin: 2rem auto;
  padding: 1rem 1rem;

  width: 20rem;
  background-color: var(--visited-link);
  border: 1px solid black;
  border-radius: 5px;
}

h2 {
  color: var(--titles);
  text-align: center;
}

.titleh2 {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) and (min-width: 450px) {
  #nav-list-web {
    visibility: hidden;
    display: none;
  }

  #nav-list-mobile {
    visibility: visible;
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: flex-end;
    margin-right: 0;
    width: 100%;
  }
}
